<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-grid class="ion-justify-content-center ion-align-items-center" style="height: 100vh;">
    <ion-row>
      <ion-col size="12" size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Email</ion-label>
              <ion-input [(ngModel)]="email" type="email"></ion-input>
            </ion-item>
           
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input [(ngModel)]="password" type="password"></ion-input>
            </ion-item>
            <ion-button expand="full" (click)="login()">Login</ion-button>
            <ion-button [routerLink] = "['/register']" expand="full" fill="clear">No Account? Register now </ion-button>
            <ion-button [routerLink] = "['/reset-password']" expand="full" fill="clear">Forgot Password? Reset Password </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
